# general
.env
.DS_Store
# general py
__pycache__/

# results
results/

# dependencies
requirements.txt

# scripts
python_script/
bash_script/
repo_cleaning_scripts/
test/

# failure_analysis/
failure_analysis/*
!failure_analysis/example_prompt.txt
!failure_analysis/example_trace.txt
!failure_analysis/failure_modes.txt
!failure_analysis/instruction.txt
!failure_analysis/prompt.txt
!failure_analysis/get_prompt.py
!failure_analysis/get_trace.py
!failure_analysis/llm_judge.py
!failure_analysis/no_tool_calls.py
!failure_analysis/parse_llm_judge.py

# common_scaffold/
common_scaffold/prompts/*.txt
common_scaffold/tools/backup/
common_scaffold/*_backup/

# datasets
query_civic_unstructured/
query_paper_unstructured/
query_notice_unstructured/
potentialdb_for_query_snowflake
# datasets: ground-truth data & generation scripts
query_agnews/create_*.py
query_agnews/agnews_gt.parquet
query_bookreview/query_dataset/books_info_mysql.sql
query_bookreview/manual_querycode/
query_bookreview/query*/ground_truth.py
query_crmarenapro/query_dataset/hidden/
query_crmarenapro/query*/ground_truth.py
query_crmarenapro/download_and_filter.py
query_crmarenapro/plan.md
query_crmarenapro/README.md
query_crmarenapro/setup_databases.py
query_DEPS_DEV_V1/query*/ground_truth.py
query_GITHUB_REPOS/query*/ground_truth.py
query_googlelocal/manual_querycode/
query_googlelocal/query2_abandon/
query_googlelocal/query3_abandon/
query_googlelocal/db_description_mysqlversion.txt
query_googlelocal/origi_dataset/
query_googlelocal/query_dataset/business_description_mysql.sql
query_googlelocal/query*/ground_truth.py
query_music_brainz_20k/create_databases.py
query_music_brainz_20k/create_queries.py
query_music_brainz_20k/create_track_repre.py
query_PANCANCER_ATLAS/query*/ground_truth.py
query_PANCANCER_ATLAS/detail_hint_ifneeded.txt
# large db: 5.1G
query_PATENTS/query_dataset/patent_publication.db
query_PATENTS/query_dataset/patent_publication.txt
query_PATENTS/query*/ground_truth.py
query_stockindex/manual_querycode/
query_stockindex/query*/ground_truth.py
query_stockmarket/ground_truth_dataset/
query_stockmarket/manual_querycode/
query_stockmarket/query*/ground_truth.py
query_stockmarket/query_dataset/stockmarket_symboldefinition/
query_stockmarket/metadata_mean.txt
query_yelp/ground_truth_dataset/
query_yelp/manual_querycode/
query_yelp/query*/ground_truth.py

# virtual environment
venv/

# database download partial files
*.part
